body {
  background: linear-gradient(25deg,#FF69B4,#FFFFFF);
  min-height: 100vh;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: 'Yeseva One', cursive;
	font-size: 300%;
	color: #CD5C5C;
	text-shadow: 4px 3px 5px #000;
}
.btn1 {
	position: absolute;
	top:30%;
	left: 10%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 170px;
	height: 60px;
	padding: 0 20px;
	background: transparent;
	color: #000;
	text-shadow: 1px 1px 4px #FFC0CB;
	border-radius: 40px;
	text-decoration: none;
	overflow: hidden;
}

.btn1 span {
	text-transform: uppercase;
	font-family: 'Yeseva One', cursive;
	font-weight: bold;
	font-size: 18px;
}

.btn1::before {
	content: '';
	position: absolute;
	height: 60px;
	width: 60px;
	border-radius: 40px;
	background: #CD5C5C;
	z-index: -1;
	left: 0;
	transition: .4s;
}

.btn1:hover::before {
	width: 210px;
}

.btn {
	position: absolute;
	top: 20%;
	left: 10%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 170px;
	height: 60px;
	padding: 0 20px;
	background: transparent;
	color: #000;
	text-shadow: 1px 1px 4px #FFC0CB;
	border-radius: 40px;
	text-decoration: none;
	overflow: hidden;
}

.btn span {
	text-transform: uppercase;
	font-family: 'Yeseva One', cursive;
	font-weight: bold;
	font-size: 18px;
}

.btn::before {
	content: '';
	position: absolute;
	height: 60px;
	width: 60px;
	border-radius: 40px;
	background: #CD5C5C;
	z-index: -1;
	left: 0;
	transition: .4s;
}

.btn:hover::before {
	width: 210px;
}

.in {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 2em auto 0;
  background: white;
  border: 5px solid #FF69B4;
  border-radius: 50%;
  box-shadow: 0 295px 0 -200px #FF69B4 inset;
  }
.in:before,
.in:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: auto;
  top: 50px;
  bottom: 50px;
  border-radius: 50%;
  }
.in:before {
  left: 0;
  background: white;
  border: 40px solid #FF69B4;
}
.in:after {
  right: 0;
  background: #FF69B4;
  border: 40px solid white;
}


#zatemnenie {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
      #okno {
        width: 300px;
        height: 150px;
        text-align: center;
        padding: 30px;
        border: 3px solid #000;
        border-radius: 10px;
        color: #000;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #CD5C5C;
      }
      #zatemnenie:target {display: block;}
      .close {
        display: inline-block;
        border: 1px solid  #000;
        color: #fff;
        padding: 0 12px;
        margin: 50px;
        text-decoration: none;
        background: #000;
        font-size: 14pt;
        cursor:pointer;
      }

.text {
	position: absolute;
	top: 35%;
	left: 2%;
	color: #CD5C5C;
	font-size: 60px;
	font-family: 'Yeseva One', cursive;
	text-shadow: 4px 3px 2px #000;
	text-decoration: none;
}

.text1 {
	position: absolute;
	top: 43%;
	left: 2%;
	color: #CD5C5C;
	font-size: 50px;
	font-family: 'Yeseva One', cursive;
	text-shadow: 4px 3px 2px #000;
	text-decoration: none;
}

.Cartoon {
	font-size: 40px;
	font-family: 'Yeseva One', cursive;
	text-shadow: 1px 1px 4px #fff;
}
