body {
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

span{
	display: flex;
	justify-content: center;
	font-size: 25px;
	
}